@page "/Activities"
@rendermode InteractiveServer

<h3>Activities</h3>

@if(Activities == null)
{
    <p><em>Loading...</em></p>
}
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
<a href="/add-activity">Add</a>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
<br />
<br />
<br />

<table class="table table-striped table-light">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Activities)
        {
            <tr>

                <td>@item.ActivityName</td>
                <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <td><button class="btn-danger" @onclick="() => Delete(item.Id)">Delete</button></td>
                </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            </tr>
        }
    </tbody>
</table>
