@page "/"

@* <PageTitle>Home</PageTitle> *@

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <h1 class="masthead-heading text-uppercase mb-0">MATCH MY TRIP</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Communauté de voyageurs</p>
        <br>
        <img class="masthead-avatar mb-5" src= "../wwwroot/famous-buildings-round-the-world-travel-wallpaper.jpg" width="1000" />
        <!-- Masthead Heading-->

    </div>
</header>

<br>

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                        <img class="img-thumbnail" src="~/mystery-boeing-nma.jpg">
                    </div>
                    <h3>Découvre tes matchs</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                        <img class="img-thumbnail" src="~/register.png">
                    </div>
                    <h3>Inscris-toi</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-check m-auto text-primary"></i>
                        <img class="img-thumbnail" src="~/easy.png">
                    </div>
                    <h3>Très facile d'utilisation</h3>
                </div>
            </div>
        </div>
    </div>
</section>
