@page "/journey/{Id}"
@rendermode InteractiveServer

<button class="btn-danger" @onclick="() => Delete(Guid.Parse(Id))">Delete</button>
<br />
<br />
<a href="@("/Edit-journey/" + Id)">Edit journey</a>


<br />
<br />

<h3>JourneyDetail</h3>
<br />
<br />
<br />

<a href="@("/add-activity/" + Id)">Add</a>

<br />
<br />
<br />

@foreach(var item in Activities)
{
    <h4>@item.Activity.ActivityName</h4>
}
