@page "/journey/{Id}"
@rendermode InteractiveServer
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
<button class="btn-danger" @onclick="() => Delete(Guid.Parse(Id))">Delete</button>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
<br />
<br />
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
<a href="@("/Edit-journey/" + Id)">Edit journey</a>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

<br />
<br />

<h3>@Journey.Destination</h3>
<br />
<br />
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
<a href="@("/add-activity/" + Id)">Add</a>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
<br />

<div class="list-group">
    @foreach (var item in Activities)
    {
        <br>
        <a class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@item.Activity.ActivityName</h5>
            </div>
        </a>
    }
</div>
