<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <h5>Hello @CurrentUser.UserName !</h5>
        <a href="Account/Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login?redirectUri=/">Log in</a>
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>